.getColl{
position: absolute;
    bottom: 0;
}

.products-nav-bar{
    position: absolute;
    top:0;
    width: 100%;
}
.table-block {
//height: 100%;
//    overflow: visible;
    //padding-bottom: 30px;
}