$main_color_light_green: rgb(140, 190, 30);
$main_color_green: rgb(90, 160, 50);
$main_color_dark_green: rgb(30, 85, 50);
$main_color_red: rgb(227, 0, 11);
$main_color_white: rgb(255, 255, 255);
$main_color_black: rgb(0, 0, 0);


